name: Ping Actions
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/ping.yml"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo "Actions OK"
